body {
    position: relative;
    background-image: url(../images/brickwall_rc.jpg);
}

#player-form {
    display: flex;
    flex-direction: column;
    /* margin-left: 50px; */
    position: absolute;
    bottom: 0;
    right: 0;
}

#player-x, #player-o {
    display: flex;
}

#main-container {
    display:flex;
    flex-direction: column;
}

h1 {
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    color: #FFFFFF;
}

#board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    column-gap: 1em;
    height: 500px;
    width: 500px;
    background-color: bisque;
    margin: 0 auto;
    padding: 1em;
    position: relative;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    font-size: 50px;
}

#player-name-display {
    font-family: 'Bungee', cursive;
    display: flex;
    /* padding: 16px; */
    padding: 0 16px;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

#draw-text {
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 20px;
}

.player-card {
    display: flex;
    flex-direction: column;
    font-size: 35px;
}

.player-text, .player-name {
    margin-bottom: 15px;
}

#player-card-1 {
    color: #29ABF4;
    position: relative;
}

#player-card-2 {
    color: #F76BE9;
    text-align: right;
}

#restart-btn {
    font-family: 'Bungee', cursive;
    position: absolute;
    font-size: 35px;
    padding: 10px;
    border-radius: 5px;
    background-color: #EBEF1E;
    color: #7AAE09;
    right: -300px;
    top: 230px;
}

.player-1-color {
    color: #29ABF4;
}

.player-2-color {
    color: #F76BE9;
}

.highlight {
    background-color: greenyellow;
}

#player-1-status, #player-2-status {
    position: relative;
}

.player-one-dot, .player-two-dot {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    visibility: hidden;
}

.player-one-dot {
    background-color: #29ABF4;
    left: -35px;
    top: 7px;
}

.player-two-dot {
    background-color: #F76BE9;
    top: 7px;
    right: -35px;
}