body {
    position: relative;
    background-image: url(../images/brickwall.jpg);
    /* background-repeat: repeat-y;
    background-size: 100% 100%; */
}

#main-container {
    display:flex;
    flex-direction: column;
    z-index: 1;
}

h1 {
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    color: #FFFFFF;
}

#board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5em;
    column-gap: 1.5em;
    height: 500px;
    width: 500px;
    /* background-color: bisque; */
    margin: 0 auto;
    /* padding: 1em; */
    position: relative;
    /* border: 3px solid green */
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 15px #FFFFFF);
    font-size: 50px;
    border: 5px solid #FFE5DF;
    border-radius: 2px;
}

#box0, #box1, #box2 {
    border-top: none;
}

#box6, #box7, #box8 {
    border-bottom: none;
}

#box0, #box3, #box6 {
    border-left: none;
}

#box2, #box5, #box8 {
    border-right: none;
}

#player-name-display {
    font-family: 'Bungee', cursive;
    display: flex;
    /* padding: 16px; */
    padding: 0 16px;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

#draw-text {
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 20px;
}

.player-card {
    display: flex;
    flex-direction: column;
    font-size: 35px;
}

.player-text, .player-name {
    margin-bottom: 15px;
    visibility: hidden;
}

#player-card-1 {
    color: #29ABF4;
    position: relative;
}

#player-card-2 {
    color: #F76BE9;
    text-align: right;
}

#restart-btn {
    font-family: 'Bungee', cursive;
    position: absolute;
    font-size: 35px;
    padding: 10px;
    border-radius: 5px;
    background-color: #E8F83A;
    color: #34A02B;
    right: -300px;
    top: 230px;
}

.player-1-color {
    color: #29ABF4;
}

.player-2-color {
    color: #F76BE9;
}

.highlight-x {
    background-color: #1591D7;
    opacity: 1;
}

.highlight-o {
    background-color: #9348A6;
    opacity: 1;
}

#player-1-status, #player-2-status {
    position: relative;
}

.player-one-dot, .player-two-dot {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    visibility: hidden;
}

.player-one-dot {
    background-color: #29ABF4;
    left: -35px;
    top: 7px;
}

.player-two-dot {
    background-color: #F76BE9;
    top: 7px;
    right: -35px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.modal {
    font-family: 'Bungee', cursive;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display:flex;
    justify-content: center;
    align-items: center;
}

.fade-in {
    animation: fadeIn ease 0.5s;
}

.modal-content {
    box-sizing: border-box;
    background-color: #FFFFFF;
    /* width: 50%; */
    padding: 50px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#player-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
}

#player-x, #player-o, #enter-text {
    display: flex;
    padding: 20px;
}

#enter-text, #enter-text-2 {
    font-size: 40px;
}

#enter-text-2 {
    padding-bottom: 10px;
}

#player-x, #player-o {
    font-size: 30px;
}

#player-x {
    color: #29ABF4;
}

#player-o {
    color:  #F76BE9;
}

#player-x-name, #player-o-name {
    font-family: 'Bungee', cursive;
    font-size: 20px;
    width: 53%;
    border-radius: 3px;
    padding: 5px 10px;
}

#single-name {
    font-family: 'Bungee', cursive;
    font-size: 20px;
    border-radius: 3px;
    padding: 5px 10px;
    border: 3px solid #29ABF4;
    width: 93%;
}

#player-x-name {
    border: 3px solid #29ABF4;
}

#player-o-name {
    border: 3px solid #F76BE9;
}

.player-buttons {
    padding: 20px 20px 0px 20px;
    align-self: flex-end;
    margin-right: 40px;
}

.page-btns {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

#back-btn-1, #back-btn-2 {
    margin-right: 20px;
}

#back-btn-1, #submit-btn-1, #back-btn-2, #submit-btn-2 {
    font-family: 'Bungee', cursive;
    font-size: 25px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

label {
    padding-top: 5px;
    padding-right: 20px;
}

.select-mode-modal {
    display: block;
}

#select-header {
    font-size: 50px;
    text-align: center;
}

#select-text {
    font-size: 40px;
    padding: 30px 0;
    text-align: center;
}

.mode-buttons {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#vs-player-btn, #vs-computer-btn {
    font-family: 'Bungee', cursive;
    font-size: 25px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

#vs-player-btn {
    margin-right: 50px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}